<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77E6478D1C90C10300B6740D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E647961C90C10300B6740D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E6482F1C91016300B6740D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BECB7B0A1924C0C3009C77F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BECB7B2B1924C0C3009C77F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
